@font-face {
    font-family: "BebasNeue";
    src: url("/src/fonts/BebasNeue.ttf") format('truetype'), url("BebasNeue.otf");
  }

@font-face {
    font-family: "LongShot";
    src: url("/src/fonts/Long_Shot.ttf");
}

@font-face {
    font-family: "Creator";
    src: url("/src/fonts/Creator.otf");
}

@font-face {
    font-family: "Aesthetic";
    src: url("/src/fonts/Aesthetic.otf");
    src: url("/src/fonts/Aesthetic.ttf") format("truetype");
}

@font-face {
    font-family: "Cardinal";
    src: url("/src/fonts/Cardinal.ttf") format("truetype");
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('/src/fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
         url('/src/fonts/FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('/src/fonts/FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/src/fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 400;
    font-style: normal;
  }